{
    frankenphp
    order php_server before file_server
}

:8000 {
    root * /app/public
    
    # Enable symlink follow
    file_server {
        index index.php
    }
    
    php_server
    encode gzip

    log {
        output stdout
        format console
    }
}
